﻿@model FitErwin.Models.Steps

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Steps</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateRetrived)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateRetrived)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeviceId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.studentnumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.studentnumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StepCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StepCount)
        </dd>
        

    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>