﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
	grid-area: header;
	background-color: #f1f1f1;
	padding: 30px;
	text-align: center;
	font-size: 35px;
}

 /*The grid container 
.grid-container {
	display: grid;
	grid-template-areas: 'header header header header header header' 'left middle middle middle middle right' 'footer footer footer footer footer footer';
	 grid-column-gap: 10px; - if you want gap between the columns 
}*/

* {
	box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
	float: left;
	padding: 10px;
}

.left {
	width: 25%;
}

.right {
	width: 75%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

table {
	width: 100%;
}

.tr:hover
{
	background-color: #f5f5f5;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

input {
	position: bottom;
	right: 0;
	bottom: 0;
}

/* Style buttons */
.btn {
	background-color: DodgerBlue;
	border: none;
	color: white;
	padding: 12px 30px;
	cursor: pointer;
	font-size: 20px;
}

	/* Darker background on mouse-over */
	.btn:hover {
		background-color: RoyalBlue;
	}

.button {
	background-color: DodgerBlue; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}


