﻿@model FitErwin.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Id" class="control-label"></label>*@
                <input asp-for="Id" type="hidden" />
                @*<span asp-validation-for="Id" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="HomeroomName" class="control-label"></label>
        <input asp-for="HomeroomName" class="form-control" />
        <span asp-validation-for="HomeroomName" class="text-danger"></span>*@
                @Html.DropDownList("HomeroomName", ViewData["Homerooms"] as SelectList, "---Select ---")
            </div>
            <div class="form-group">
                <label asp-for="GoalPoints" class="control-label"></label>
                <input asp-for="GoalPoints" class="form-control" />
                <span asp-validation-for="GoalPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Gender" class="control-label"></label>
        <input asp-for="Gender" class="form-control" />
        <span asp-validation-for="Gender" class="text-danger"></span>*@
                <select asp-for="Gender" class="form-control">
                    <option value="Boy">Boy</option>
                    <option value="Girl">Girl</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
