﻿@model IEnumerable<FitErwin.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Student</h2>

<p>
    <a asp-action="Create">Add a Student</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HomeroomName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GoalPoints)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeroomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
