﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This project is an ongoing effort from the Fall 2018 Software Engineering class at ETSU.</p>
<h3>Team Members</h3>
    <li>Edwin Wilson - Scrum Master</li>
    <li>Madison Nalesfski - Product Owner</li>
    <li>Jesus Garcia  - Developer</li>
    <li>Quinn Carter - Developer</li>
    <li>Brandon Fugate - Developer</li>
    <li>James Miller - Developer</li>
    