﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @*<div class="column left">
                <button  class="btn" style="width:100%" asp-action="ExportToCSV" asp-controller="Home"><i class="fa fa-download"></i> Download CSV File</button>
        </div>*@

    
        <a class="btn" style="width:100%" asp-controller="ExportToCSV" asp-action="ExportToCSV"><i class="fa fa-download"></i> Download CSV File</a>
   

    @*@Html.ActionLink("Export", "ExportToCSV", "ExportToCSV")*@

    @*<div class="column right">
        <div class="table">
            <table>
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Steps</th>
                </tr>
            </table>
        </div>
    </div>*@
</div>