﻿
@{
    ViewData["Title"] = "Index";
}

<h2>FitErwin</h2>

<p>
    <a asp-action="Create" asp-controller="Students">Student</a>
</p>

<p>
    <a asp-action="Create" asp-controller="Homerooms">Classroom</a>
</p>

<p>
   <a asp-action="Data" > Data </a>
</p>

