﻿@model FitErwin.Models.Homeroom

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Homeroom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HomeroomId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeroomId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeroomName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeroomName)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
