﻿@model FitErwin.Models.Homeroom

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Homeroom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HomeroomId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeroomId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeroomName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeroomName)
        </dd>
        
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.HomeroomId }) |
    <a asp-action="Index">Back to List</a>
</div>
