﻿@model FitErwin.Models.Homeroom

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Homeroom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="HomeroomId" class="control-label"></label>*@
                <input asp-for="HomeroomId" type="hidden" />
                @*<span asp-validation-for="HomeroomId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="HomeroomName" class="control-label"></label>
                <input asp-for="HomeroomName" class="form-control" />
                <span asp-validation-for="HomeroomName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
