﻿@model IEnumerable<FitErwin.Models.Homeroom>

@{
    ViewData["Title"] = "Index";
}

<h2>Homerooms</h2>

<p>
    <a asp-action="Create">Add New Homeroom</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HomeroomId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HomeroomName)
                </th>
                
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HomeroomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeroomName)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.HomeroomId }) |
                @Html.ActionLink("Details", "Details", new {  id=item.HomeroomId }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.HomeroomId })
            </td>
        </tr>
}
    </tbody>
</table>
