﻿@model FitErwin.Models.Challenges

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Challenges</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChallengeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChallengeType)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.HomeroomName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeroomName)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StepGoal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StepGoal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
