﻿@model FitErwin.Models.Challenges

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Challenges</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Id" class="control-label"></label>*@
                <input asp-for="Id" type="hidden" />
                @*<span asp-validation-for="Id" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="ChallengeType" class="control-label"></label>
                <input asp-for="ChallengeType" class="form-control" />
                <span asp-validation-for="ChallengeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StepGoal" class="control-label"></label>
                <input asp-for="StepGoal" class="form-control" />
                <span asp-validation-for="StepGoal" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" rows="4" cols="20"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
