﻿@model FitErwin.Models.HomeroomChallenges

@{
    ViewData["Title"] = "Create";


}

<h2>Create</h2>

<h4>HomeroomChallenges</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                @*<label asp-for="homeroomId" class="control-label"></label>
        <input asp-for="homeroomId" class="form-control" />
        <span asp-validation-for="homeroomId" class="text-danger"></span>*@

                @Html.DropDownList("HomeroomId", ViewData["Homerooms"] as SelectList, "---Select ---")
            </div>
            <div class="form-group">
                @*<label asp-for="goalID" class="control-label"></label>
        <input asp-for="goalID" class="form-control" />
        <span asp-validation-for="goalID" class="text-danger"></span>*@

                @Html.DropDownList("GoalId", ViewData["Goals"] as SelectList, "---Select ---")
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
