﻿@model FitErwin.Models.HomeroomChallenges

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HomeroomChallenges</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.homeroomId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.homeroomId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.goalID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.goalID)
        </dd>
    </dl>
</div>
<div>
   @* @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) |*@
    <a asp-action="Index">Back to List</a>
</div>
