﻿@model IEnumerable<FitErwin.Models.HomeroomChallenges>

@{
    ViewData["Title"] = "Index";
}

<h2>Homeroom Challenges</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    HomeroomId
                </th>
                <th>
                    ChallengeId
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.homeroomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.goalID) | 
                @Html.ActionLink("Challenge Details","Details", "Challenges", new { id = item.goalID})
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
                @Html.ActionLink("Details", "Details", new {  id=item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
